#four_small{
display: inline-block;
margin-top: 30px;
line-height: 30px;
}
.slide4_content{
	padding:10px;
}
.slide4_content div{
	width: 270px;
	height: 315px;
	display: block;
	float:left;
	margin:20px;
	background: url(../img/people.png);
	background-position:0px 0px; 
}
.slide4_content div p{
    display: block;
    margin-top: 331px;
}
.slide4_content div:nth-of-type(1):hover{
	background-position:0px -325px 
}
.slide4_content div:nth-of-type(2){
	background-position:0px -1300px 
}
.slide4_content div:nth-of-type(2):hover{
	background-position:0px -1625px 
}
.slide4_content div:nth-of-type(3){
	background-position:0px -650px 
}
.slide4_content div:nth-of-type(3):hover{
	background-position:0px -975px 
}