#exbline{
}
.swiper-slide5{
	color:white;
}
.swiper-slide5_h2{
	margin:80px auto 40px;
	width: 	65%;
	line-height: 60px
}
.swiper-slide5_h2 span{
	margin:auto 20px;
	width: 27px;
	height: 22px;
	background: url(../img/home.png);
	display: inline-block;
}
.swiper-slide5_h2 span:nth-of-type(2){
	background-position: -248px -378px;
}
.swiper-slide5_h2 span:nth-of-type(1){
	background-position: -248px -410px;
}
.swiper-slide5 .btn-opa-red{
	padding: 17px 25px;	
	font-size: 22px;
	font-weight: bold;
	border: 2px solid #ea524e
}